.shop-dashboard-page {
    background-color: #f7f8fa;
    width: 100%;
    position: relative;
}

.top-navigation {
    width: 100%;
    height: 100px;
    padding: 20px 25px 20px 25px;
    border-bottom: 2px solid #edeff2;
    justify-content: space-between;
    display: flex;

    .nav-content {
        display: flex;
        gap: 30px;
        align-items: center;

        .icon-bg {
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0px 2px 5px 0px #26334d08;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .display-icon {
                width: 20px;
                height: auto;
                color: #c3cad9;
            }

            .Announcement {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #e62e7b;
                position: absolute;
                box-shadow: 0px 2px 10px 0px #26334d08;
                top: 0;
                right: 0;
            }
        }

        .option-title {
            color: #7d8fb3;
            //styleName: Bold/Bold 18;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
        }

        .option-element {
            //styleName: Bold/Bold 13;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            color: #7d8fb3;
        }

        .account-content {
            gap: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .account-icon-bg {
                background-color: #c3cad9;

                width: 30px;
                height: 30px;
                padding: 7px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .account-icon {
                    color: #fff;
                    width: 100%;
                    height: 100%;
                }
            }

            .account-name {
                //styleName: Bold/Bold 13;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 700;
                line-height: 25px;
                text-align: left;
                color: #6b7a99;
            }
        }

        .announcement-icon-content {
            display: flex;
            gap: 10px;
        }
    }

    .search-button {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 300px;
        height: 60px;
        padding: 15px 40px 15px 20px;
        gap: 10px;
        border-radius: 30px;
        background-color: #ffffff;
        box-shadow: 0px 2px 5px 0px #26334d08;

        .search-icon {
            width: 30px;
            height: 30px;
            color: #adb8cc;
        }

        .search-element {
            width: 100%;
            //styleName: Bold/Bold 12;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            color: #adb8cc;
            border: none;
        }

        .search-element:focus {
            outline: none;
        }
    }
}

.container-section {
    display: flex;
    height: auto;
}

.left-navigation {
    width: 5%;
    height: 1100px;
    padding: 35px 0;
    border-right: 2px solid #edeff2;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    .left-navigation-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .icon-bg {
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            background-color: #ffffff;
            box-shadow: 0px 2px 5px 0px #26334d08;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            opacity: 0.5;

            .display-icon {
                width: 20px;
                height: auto;
                color: #c3cad9;
            }

            .Announcement {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #e62e7b;
                position: absolute;
                box-shadow: 0px 2px 10px 0px #26334d08;
                top: 0;
                right: 0;
            }

            &:hover {
                opacity: 1; // Màu xám nhạt
            }

            // Thiết lập màu khi click (active)
            &.active {
                opacity: 1; // Màu xám nhạt
            }
        }

        .mess-bg {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .Announcement {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #3361ff;
                position: absolute;
                box-shadow: 0px 2px 10px 0px #26334d08;
                top: 0;
                right: 0;
            }
        }
    }
}

.dashboard-content-section {
    display: flex;
    padding: 30px 30px 0;
    height: auto;
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .management-content {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 2px 5px 0px #26334d08;

        .header-section {
            width: 100%;
            height: 90px;
            padding: 0 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fafbfc;
            border-radius: 20px 20px 0 0;
            border-bottom: 2px solid #f2f3f5;

            .header-title {
                display: flex;
                gap: 20px;
                align-items: center;

                .list-icon-bg {
                    width: 40px;
                    height: 40px;
                    padding: 6px;
                    border-radius: 5px;
                    background-color: #fff;
                    box-shadow: 0px 2px 5px 0px #26334d08;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .list-icon {
                        color: #c3cad9;
                    }
                }

                .title-name {
                    //styleName: Bold/Bold 16;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 30px;
                    text-align: left;
                    color: #6b7a99;
                }
            }

            .header-option {
                width: auto;
                height: 100%;
                display: flex;
                gap: 40px;

                .option-name {
                    height: 100%;
                    //styleName: Black/Black 12;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 20px;
                    text-align: center;
                    color: #7d8fb3;
                    display: flex;

                    align-items: center;
                    justify-content: center;
                }

                .option-name.active {
                    color: #8833ff;
                    border-bottom: 2px solid #8833ff;
                }
            }

            .add-categories-button {
                padding: 10px 15px;
                gap: 10px;
                border-radius: 20px;
                border: 2px solid #8833ff;
                box-shadow: 0px 10px 30px 0px #8833ff26;
                display: flex;
                background-color: #8833ff;
                justify-content: center;
                align-items: center;

                .plus-icon {
                    color: #ffffff80;
                }

                .add-button-content {
                    align-items: center;
                    //styleName: Black/Black 12;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 18px;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }

        .filter-section {
            width: 100%;
            height: 70px;
            padding: 0 20px 0px 15px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #f2f3f5;
            position: relative;

            .select-all-button {
                width: auto;
                height: auto;
                display: flex;
                padding: 6px 20px 6px 15px;
                gap: 10px;
                align-items: center;
                justify-content: center;
                color: #7d8fb3;

                .check-icon {
                    width: 20px;
                    height: 20px;
                }

                .select-all-content {
                    //styleName: Black/Black 12;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 18px;
                    text-align: left;
                }
            }

            .filter-container {
                box-shadow: 0px 2px 5px 0px #26334d08;
                display: flex;
                align-items: center;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                .filter-content {
                    width: auto;
                    height: auto;
                    padding: 6px 15px 6px 10px;
                    display: flex;
                    gap: 10px;
                    border: 2px solid #f5f6f7;

                    .filter-icon {
                        width: 20px;
                        height: 20px;
                        color: #c3cad9;
                    }

                    .filter-name {
                        //styleName: Black/Black 12;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 900;
                        line-height: 20px;
                        text-align: left;
                        color: #6b7a99;
                    }
                }
            }

            .filter-container>.filter-content:first-child {
                border-radius: 5px 0 0 5px;
            }

            .filter-container>.filter-content:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}

.data-list {
    max-width: 100%;
    height: 700px;
    overflow-y: scroll;
}

.user-item:hover {
    background-color: #8833ff;
    cursor: pointer;
    color: #fff !important;
}

.user-item {
    background-color: #fafbfc;
    margin: 10px 0;
}

.status-color {
    width: 7px;
    height: 7px;
    margin-right: 1rem;
    border-radius: 50%;
}

.expectation-color {
    background-color: #ff6633;
}

.assembly-color {
    background-color: #3361ff;
}

.delivery-color {
    background-color: #8833ff;
}

.done-color {
    background-color: #29cc39;
}

.failed-color {
    background-color: #e62e2e;
}

.list-header,
.user-item {
    width: auto;
    min-height: 60px;
    display: flex;
    border-radius: 15px;

    .checkbox-bg {
        width: 60px;
        height: auto;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-bg {
        height: auto;
        align-items: center;
        padding: 10px 0;
        display: flex;
    }

    .header-center {
        width: 85px;
    }

    .header-center-large {
        min-width: 140px;
    }

    .header-center-medium {
        min-width: 100px;
    }

    .header-name {
        width: 150px;
    }

    .header-location {
        width: 120px;
    }

    .header-email {
        width: 200px;
    }

    .text {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: #7d8fb3;
    }

    .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .product-image {
        width: 90px;
        height: 90px;
    }

    .edit-icon {
        width: 20px;
        height: auto;
    }
}

.checkbox-color {
    color: #ff6633 !important;
}

.infor-section {
    padding: 45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infor-column {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.infor-box {

    border-radius: 10px;
    padding: 20px;
}

.user-avatar-detail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.infor-detail {
    display: grid;
    gap: 15px;
    font-family: Roboto;
    text-align: center;
}

.user-text {
    color: #6b7a99;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.infor-text {
    //styleName: Medium/Medium 24;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #4d5e80;
}

.infor-label {
    color: #adb8cc;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.label-box {
    //styleName: Bold/Bold 13;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #7d8fb3;
}

.column-label {
    //styleName: Bold/Bold 14;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #6b7a99;
}

.w-98 {
    width: 25rem;
}

.w-45p {
    width: 49%;
}