:root {
    --color-background: #F7F8FA;
    --color-highlight: #3361FF;
    --color-text: #4D5E80;
    --color-text-light: #7D8FB3;
}

p {
    font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
}

button {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

.roboto-medium {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}

.roboto-bold {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;
}