.footer {
    width: auto;
    justify-content: space-between;
    display: flex;

    .shop-address {
        height: 130px;
        width: 165px;
        display: grid;
        gap: 40px;

        .page-name {
            //styleName: Bold/Bold 18;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            color: #4d5e80;
        }

        .address {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            color: #adb8cc;
        }
    }

    .footer-menu {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: #6b7a99;
        display: grid;
        gap: 10px;
    }

    .shop-policy {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: #adb8cc;
    }

    .shop-policy p {
        margin-bottom: 20px;
    }
}
