.Bag-Shop-Page {
    width: 1600px;
    background-color: #EDEFF2;

    .header-section {
        width: 100%;
        height: auto;
        padding: 60px 245px;

        .bag-shop-header {
            width: 1110px;
            display: grid;
            gap: 20px;
            justify-items: center;

            .account-button {
                width: 86px;
                height: 30px;
                padding: 5px;
                border-radius: 15px;
                background: #8833FF1A;
                //styleName: Black/Black 12;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 900;
                line-height: 20px;
                text-align: center;
                color: #8833FF;


            }

            .header-title {
                font-family: Roboto;
                font-size: 64px;
                font-weight: 700;
                line-height: 90px;
                text-align: center;
                color: #4D5E80;

            }
        }

    }

    .tab-section {
        width: 100%;
        height: 100px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.1);

        .tab-list {
            height: 100%;
            width: auto;
            display: flex;
            gap: 80px;
            justify-content: center;

            .tab-name {
                height: 100%;
                gap: 0px;

                display: flex;
                align-items: center;
                //styleName: Black/Black 13;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 900;
                line-height: 25px;
                text-align: center;
                color: #7D8FB3;

            }

            .active-tab {
                color: #8833FF;
                border-bottom: 2px solid #8833FF;
            }

        }
    }

    .account-order-section {
        width: 100%;
        height: auto;
        padding: 40px 245px 0px 245px;

        .account-order-content {
            width: 100%;
            display: grid;
            gap: 30px;

            .account-section {
                width: auto;
                height: 445px;
                padding: 75px;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                box-shadow: 0px 2px 5px 0px #26334D08;
                background-color: #FFFFFF;

                .account-content {
                    display: flex;
                    gap: 115px;

                    .avatar-account-bg {
                        width: 160px;
                        height: 190px;
                        position: relative;
                        display: grid;

                        .user-avatar {
                            width: 100%;
                            height: auto;
                            border-radius: 50%;
                        }

                        .edit-button {
                            width: 60px;
                            height: 60px;
                            padding: 15px;
                            gap: 10px;
                            border-radius: 50%;
                            background-color: #ffffff;
                            border: 2px solid rgba(128, 128, 128, 0.1);
                            box-shadow: 0px 2px 5px 0px #26334D08;
                            color: #C3CAD9;
                            position: absolute;
                            left: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: translateX(-50%);
                            bottom: 0;
                            cursor: pointer;

                        }

                    }

                    .information-section {
                        display: flex;
                        gap: 180px;
                        width: auto;
                        height: 100%;

                        .left-right-content {
                            display: grid;
                            width: auto;
                            height: 100%;

                            .information-content {
                                width: auto;
                                height: 65px;
                                display: grid;

                                .information-title {
                                    //styleName: Bold/Bold 12;
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 20px;
                                    text-align: left;
                                    color: #ADB8CC;
                                }

                                .information-main {
                                    //styleName: Bold/Bold 18;
                                    font-family: Roboto;
                                    font-size: 18px;
                                    font-weight: 700;
                                    line-height: 30px;
                                    text-align: left;
                                    color: #4D5E80;
                                }
                            }

                        }
                    }
                }


            }

            .orders-section {
                width: 100%;
                height: auto;
                padding: 40px;
                display: grid;
                gap: 30px;
                border-radius: 10px;
                background-color: #FFFFFF;
                box-shadow: 0px 2px 5px 0px #26334D08;
                margin-bottom: 30px;

                .orders-header {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .orders-title {
                        //styleName: Bold/Bold 14;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 30px;
                        text-align: left;
                        color: #4D5E80;
                    }

                    .up-icon {
                        color: #C3CAD9;
                    }

                }

                .bag-orders-content {
                    display: grid;
                    gap: 20px;

                    .order-content {
                        width: 100%;
                        height: auto;
                        padding: 25px;
                        display: grid;
                        gap: 30px;
                        border-radius: 10px;
                        border: 2px solid #F5F6F7;
                        box-shadow: 0px 2px 5px 0px #26334D08;
                        background-color: #FAFBFC;

                        .order-header {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;

                            .list-order-header {

                                display: flex;
                                gap: 30px;
                                align-items: center;

                                .left-right-order-header {
                                    display: flex;
                                    gap: 10px;
                                    font-family: Roboto;
                                    font-size: 14px;
                                    font-weight: 700;
                                    line-height: 30px;
                                    text-align: left;
                                    align-items: center;

                                    .order-title {
                                        color: #6B7A99;
                                    }

                                    .order-code {
                                        color: #4D5E80;
                                    }

                                    .order-status {
                                        color: #29CC39;
                                    }


                                }
                            }
                        }

                        .product-order-list {
                            width: 100%;
                            display: flex;
                            gap: 20px;
                            flex-wrap: wrap;
                            padding: 10px;


                            .product-order {
                                flex: 1 1 calc(50% - 20px);
                                width: 100%;
                                /* Chiếm 100% chiều rộng khi chỉ có 1 sản phẩm */
                                padding: 10px 30px 10px 10px;
                                border-radius: 10px;
                                background-color: #fff;
                                border: 2px solid #F5F6F7;
                                box-shadow: 0px 2px 5px 0px #26334D08;
                                display: flex;
                                justify-content: space-between;

                                .left-right-content {
                                    width: auto;
                                    height: 70px;
                                    display: flex;
                                    gap: 30px;
                                    align-items: center;

                                    .product-image {
                                        width: auto;
                                        height: 100%;
                                    }

                                    .product-name {
                                        //styleName: Bold/Bold 13;
                                        font-family: Roboto;
                                        font-size: 13px;
                                        font-weight: 700;
                                        line-height: 25px;
                                        text-align: left;
                                        color: #4D5E80;
                                    }

                                    .order-information {
                                        //styleName: Black/Black 14;
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-weight: 900;
                                        line-height: 30px;
                                        text-align: left;
                                        color: #6B7A99;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

}

.style-icon {
    color: #C3CAD9;
}